<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p> Share your knowledge with the world </p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn-primary btn-lg'%>
  </p>
  </div>
