<% if @wiki.private? == true %>
<%= form_for [@wiki, Collaboration.new], url: add_collaborator_wiki_path, method: :put do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= text_field_tag :email, nil, placeholder: "Enter Collaborator Email", class: 'form-control' %>
    <%= f.submit 'Create Collaboration', class: 'btn btn-info submit-button' %>
  </div>
<% end %>
<% end %>
