<%= form_for [@wikis, Collaboration.new] do |f| %>
   <div class="form-group">
     <%= label_tag :email %>
     <%= text_field_tag :email, nil, placeholder: "Enter User email" %>
     <%= f.submit %>
   </div>
 <% end %>
