<% if @wiki.collaborators.exists? %>

<h4> Remove Collaborators </h4>

    <% @wiki.collaborators.each do |collaborator| %>
    <ul class="list-unstyled">
      <li>
        <%= collaborator.email %>
        <%= link_to 'Remove', remove_collaborator_wiki_path(id: @wiki.id, collaborator_id: collaborator.id), data: { confirm: "Are you sure you want to remove this collaborator from this wiki?" }, method: :put %>
      </li>
    </ul>
    <% end %>
<% end %>
