<h2 class="page-header">Wikis</h2>

<div class="row">
  <div class="col-md-8">
    <div class="new_wiki_btn"><%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success'%></div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |w| %>
      <ul class="list-group">
        <div class="media-heading">
          <h4 class="media-body">
              <li class="list-group-item"><%= link_to w.title, wiki_path(w) %></li>
            <% end %>
          </h4>
        </div>
      </ul>
    </div>
  </div>
